<!-- file changes made by rashmi on 10-06-2024 -->
<ngb-carousel>
  <ng-template ngbSlide>
    <div class="picsum-img-wrapper text-center">
      <img [src]="images[0]" alt="Beach slide" />
    </div>
    <div class="carousel-caption">
      <h3>St. Mary's Island</h3>
      <p>Discover this picturesque cluster of volcanic rock formations surrounded by pristine beaches and crystal-clear
        waters</p>
    </div>
  </ng-template>
  <ng-template ngbSlide>
    <div class="picsum-img-wrapper text-center">
      <img [src]="images[1]" alt="Food slide" />
    </div>
    <div class="carousel-caption">
      <h3>Udupi cuisine</h3>
      <p>A tantalizing photo capturing the vibrant hues and savory essence of the iconic Udupi banana leaf meal</p>
    </div>
  </ng-template>
  <ng-template ngbSlide>
    <div class="picsum-img-wrapper text-center">
      <img [src]="images[2]" alt="Festival slide" />
    </div>
    <div class="carousel-caption">
      <h3>Madhwa Sarovar</h3>
      <p>A serene, sacred pond beside the renowned Sri Krishna Matt, believed to have divine origins</p>
    </div>
  </ng-template>
</ngb-carousel>