.heading-container {
    background-color: #222831;
    height: 25vh;
    width: 100%;
    position: relative;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 0;
}

// B015 FE BY sulaxmi(from)
.heading-text {
    color: #FFF;
    margin: 3rem;
    z-index: 1;
    text-align: center;
    font-size: clamp(2rem, 3vw, 3rem);
    line-height: 2.5rem;
}

//to
.design-blob {
    position: absolute;
    top: 40%;
    left: 70%;
    transform: translateX(-50%);
    width: 220vw;
    z-index: 0;
}

.card-container1 {
    width: 100%;
    padding: 10px;
    background-color: #222831;
    display: flex;
    flex-wrap: nowrap;
    text-align: center;
}

.card {
    display: flex;
    flex-direction: column;
    background-color: #222831;
    border-color: #eeeeee;
    color: #FFF;
    margin-bottom: 20px;
    cursor: pointer;
}

//border radius
.square-image {
    width: 100%;
    height: 16vh;
    object-fit: cover;
    border-top-left-radius: 0.3rem;
    border-top-right-radius: 0.3rem;
    border-bottom-right-radius: 0rem;
    border-bottom-left-radius: 0rem;
}

.text-container {
    width: 100%;
    padding: 20px 0px 0px 20px;
    height: clamp(9.5rem, 10vw, 12.5rem);
    gap: 8px;
    transition: opacity 0.3s ease;
    text-align: center;
}

.name-text {
    font-family: Helvetica, Arial, sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    text-align: left;
    color: #FFFFFF;
    margin-bottom: 8px;
}

.author-text {
    font-family: Helvetica, Arial, sans-serif;
    font-size: 12px;
    font-weight: 400;
    line-height: 24px;
    text-align: left;
    color: #FFFFFF73;
    margin-bottom: 8px;
}

.line {
    width: 80px;
    height: 0px;
    border: 1px solid #FF6000;
}

.text-content {
    font-family: Helvetica, Arial, sans-serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 22px;
    text-align: left;
    overflow: hidden;
    white-space: normal;
    margin-top: 8px;
    color: #FFFFFF73;
}

.card-footer {
    border-top: 0.01rem solid rgba(255, 255, 255, 0.5);
    color: #FF6000;
}

.footer-text {
    font-family: Helvetica, Arial, sans-serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
    text-align: left;
    margin: 0;
    display: flex;
    align-items: center;
}

.footer-text i {
    margin-left: 4px;
}

a {
    text-decoration: none;
    color: inherit;
}

.card-footer-link {
    display: block;
    width: 100%;
    height: 100%;
    text-decoration: none;
    color: inherit;
    cursor: pointer;
}

.card-body {
    padding: 0rem;
}

.row {
    margin: 0rem;
    flex-wrap: nowrap;
    overflow-x: auto;
    scrollbar-width: none;
}