<div class="container-fluid p-0">
    <div class="col-12 col-sm-8 col-md-6 col-lg-4 heading-container">
        <h2 class="heading-text text-white fw-bold">Read Stories Written By Various Travellers</h2>
        <img src="assets/images/Vectorblob.svg" alt="Design Blob" class="design-blob">
    </div>
    <div *ngFor="let chunk of chunkedStories" class="card-container1">
        <div class="row row-cols-1 row-cols-md-2 row-cols-lg-4 g-4 ">
            <div class="col" *ngFor="let story of chunk">
                <a [routerLink]="['/story', story.id]" class="card-footer-link">
                    <div class="card ">
                        <img [src]="story.images[0]" alt="Image" class="square-image">
                        <div class="card-body">
                            <div class="text-container">
                                <p class="name-text">{{ story.title }}</p>
                                <p class="author-text">By {{ story.submittedBy }}</p>
                                <div class="line"></div>
                                <div class="additional-content">
                                    <p class="text-content">{{ getTruncatedContent(story.content, 60) }}</p>
                                </div>
                            </div>
                            <div class="card-footer">

                                <p class="footer-text">Read Full Blog <i class="bi bi-arrow-right"></i></p>

                            </div>
                        </div>
                    </div>
                </a>
            </div>
        </div>
    </div>
</div>