<!-- file changes made by rashmi on 10-06-2024 -->
<div class="navbar">
  <h1 class="text-white fw-bold">Create Unforgettable Experiences</h1>
</div>
<div class="container-fluid">
  <div class="col">
    <div class="card h-100 ">
      <img src="assets/images/hoodeboathouse1.jpg" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title text-white">Boat Houses</h5>
        <hr>
        <p class="card-text  text-color">Boat houses dot the tranquil shores of Hoode Beach, offering a picturesque
          retreat blending coastal charm with aquatic adventures...</p>
      </div>
      <div class="card-footer">
        <small class="text-small">View Details--></small>
      </div>
    </div>
  </div>
  <div class="col">
    <div class="card h-100">
      <img src="assets/images/kodachadri1.jpg" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title text-white">Kodachadri Trek </h5>
        <hr>
        <p class="card-text  text-color">
          Kodachadri trek, nestled in the Western Ghats, unveils a mesmerizing journey through lush greenery, cascading
          waterfalls, diverse flora...</p>
      </div>
      <div class="card-footer">
        <small class="text-small">View Details--></small>
      </div>
    </div>
  </div>
  <div class="col">
    <div class="card h-100">
      <img src="assets/images/arbimanipal1.jpg" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title text-white">Arbi Falls</h5>
        <hr>
        <p class="card-text  text-color">Arbi Falls in Manipal offers a tranquil retreat with its gentle cascade
          surrounded by lush greenery, providing a serene escape for nature lovers...</p>
      </div>
      <div class="card-footer">
        <small class="text-small">View Details--></small>
      </div>
    </div>
  </div>
  <div class="col">
    <div class="card h-100">
      <img src="assets/images/scuba1.jpg" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title text-white">Scuba Diving</h5>
        <hr>
        <p class="card-text text-color">Scuba diving enthusiasts flock to Udupi's azure waters to explore vibrant coral
          reefs, diverse marine life, and ancient shipwrecks creating unforgettable...</p>
      </div>
      <div class="card-footer">
        <small class="text-small">View Details--></small>
      </div>
    </div>
  </div>

</div>
<div class="footer">
  <div class="row">
    <div class="col text-center">
      <button type="button" class="btn ">View All</button>
    </div>
  </div>
</div>