<div id="carouselExample" class="carousel">
  <div class="carousel-inner">
    <div class="carousel-item active">
      <div class="card">
        <div class="img-wrapper"><img src="assets/images/h1.jpg" alt="...">
        </div>
        <div class="card-body">
          <h5 class="card-title">Light House</h5>
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
          <a href="#" class="btn btn-primary">VIEW DETAILS</a>
        </div>
      </div>
    </div>
    <div class="carousel-item">
      <div class="card">
        <div class="img-wrapper"><img src="assets/images/h2.jpg" alt="...">
        </div>
        <div class="card-body">
          <h5 class="card-title">Murdeshwar</h5>
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
          <a href="#" class="btn btn-primary">VIEW DETAILS</a>
        </div>
      </div>
    </div>
    <div class="carousel-item">
      <div class="card">
        <div class="img-wrapper"><img src="assets/images/h3.jpg"  alt="...">
        </div>
        <div class="card-body">
          <h5 class="card-title">Culture</h5>
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
          <a href="#" class="btn btn-primary">VIEW DETAILS</a>
        </div>
      </div>
    </div>
    <div class="carousel-item">
      <div class="card">
        <div class="img-wrapper"><img src="assets/images/h4.jpeg"  alt="...">
        </div>
        <div class="card-body">
          <h5 class="card-title">Marvanthe</h5>
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
          <a href="#" class="btn btn-primary">VIEW DETAILS</a>
        </div>
      </div>
    </div>
    <div class="carousel-item">
      <div class="card">
        <div class="img-wrapper"><img src="assets/images/h5.jpg"  alt="...">
        </div>
        <div class="card-body">
          <h5 class="card-title">Card title</h5>
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
          <a href="#" class="btn btn-primary">VIEW DETAILS</a>
        </div>
      </div>
    </div>
    <div class="carousel-item">
      <div class="card">
        <div class="img-wrapper"><img src="assets/images/h6.jpg"  alt="...">
        </div>
        <div class="card-body">
          <h5 class="card-title">Malpe Beach</h5>
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
          <a href="#" class="btn btn-primary">VIEW DETAILS</a>
        </div>
      </div>
    </div>
    <div class="carousel-item">
      <div class="card">
        <div class="img-wrapper"><img src="assets/images/h7.jpg"  alt="...">
        </div>
        <div class="card-body">
          <h5 class="card-title">Lord Krishna</h5>
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
          <a href="#" class="btn btn-primary">VIEW DETAILS</a>
        </div>
      </div>
    </div>
  </div>
  <button class="carousel-control-prev" type="button" data-bs-target="#carouselExample" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#carouselExample" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
</div>