<div *ngIf="card" class="card-details">
  <div class="card-body">
    <h1>{{ card.title }}</h1>

    <section class="image-gallery" *ngIf="card">
      <div id="carouselExample" class="carousel slide" data-bs-ride="carousel" (slid.bs.carousel)="onSlideChange($event)">
        <div class="carousel-inner">
          <div *ngFor="let image of card.images; let i = index" class="carousel-item" [class.active]="i === 0">
            <img [src]="image" [alt]="card.title" class="d-block w-100">
          </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExample" data-bs-slide="prev" (click)="onPrevClick()" [disabled]="currentSlideIndex === 0">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExample" data-bs-slide="next" (click)="onNextClick()" [disabled]="currentSlideIndex === (card?.images?.length ?? 0) - 1">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Next</span>
        </button>
      </div>
    
      <div class="image-overlay" [ngClass]="{ 'active': isOverlayActive }">
        <div class="image-info">
          <span>{{ currentSlideIndex + 1 }}/{{ card?.images?.length ?? 0 }}</span>
        </div>
      </div>
    </section>
    <p>
      <!-- Main description based on the card id -->
      <ng-container *ngIf="card.id !== undefined && card.id !== null">
        <div >
          {{card.desc}}
          
          
    <section class="tips">
      <h2>Tips</h2>
      <ul>
        <li *ngFor="let tip of card.tips">
          {{tip}}
        </li>
        
      </ul>
    </section>
    <section class="best-time">
      <h2>Best Time to Visit</h2>
      <p>{{card.best_time_to_visit}}</p>
    </section>

<section class="how-to-visit">
      <h2>How To Visit?</h2>


      <p *ngIf="card.id === 1"><strong>By Car:</strong>{{card.how_to_visit.by_car}}</p>
      <p *ngIf="card.id === 1"><strong>By Public Transport:</strong>{{card.how_to_visit.by_public}}</p>
      <p *ngIf="card.id === 1"><strong>By Bike:</strong> {{card.how_to_visit.by_bike}}</p>

  </section>
</div>

<div class="navbar bg-dark">
  <h1 class="text-white fw-bold">Don't Miss These</h1>
</div>
<div class="container-fluid">
  <div class="row card-container">
    <!-- Existing Cards -->
    <div class="col-lg-3 col-md-6 mb-4">
      <div class="card h-100">
        <img src="assets/images/b1.jpeg" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title text-white">Kaup Light house</h5>
          <hr>
          <p class="card-text text-color">Quite evident by the name, there is a lighthouse on the beach which promises panoramic views of the sea, the beach and the neighbouring areas.</p>
        </div>
        <div class="card-footer">
          <small class="text-small">View Details--></small>
        </div>
      </div>
    </div>
    <div class="col-lg-3 col-md-6 mb-4">
      <div class="card h-100">
        <img src="assets/images/bl2.webp" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title text-white">Malpe Beach</h5>
          <hr>
          <p class="card-text text-color">Malpe is one of the exquisite unexplored beaches of the Indian West Coast. Located at the mouth of the Udayavar River, the most famous being St. Mary’s Island.</p>
        </div>
        <div class="card-footer">
          <small class="text-small">View Details--></small>
        </div>
      </div>
    </div>
    <div class="col-lg-3 col-md-6 mb-4">
      <div class="card h-100">
        <img src="assets/images/bl4.jpg" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title text-white">Krishna Matta</h5>
          <hr>
          <p class="card-text text-color">The story of this temple starts with the birth of a child to a couple called Narayana Bhatta and his wife Vedavati in a village called Pajakakshetra near Udupi.</p>
        </div>
        <div class="card-footer">
          <small class="text-small">View Details--></small>
        </div>
      </div>
    </div>
    <div class="col-lg-3 col-md-6 mb-4">
      <div class="card h-100">
        <img src="assets/images/bl5.jpg" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title text-white">Maravante Beach</h5>
          <hr>
          <p class="card-text text-color">Maravanthe is a uniquely positioned beach in Coastal Karnataka with Arabian Sea on one side and Souparnika river on the other.</p>
        </div>
        <div class="card-footer">
          <small class="text-small">View Details--></small>
        </div>
      </div>
    </div>
    <!-- New Card -->
    <div class="col-lg-3 col-md-6 mb-4">
      <div class="card h-100">
        <img src="assets/images/be8.jpg" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title text-white">Delta Point</h5>
          <hr>
          <p class="card-text text-color">The only place where you get to see the sea and the river meet.</p>
        </div>
        <div class="card-footer">
          <small class="text-small">View Details--></small>
        </div>
      </div>
    </div>
  </div>
</div>
