<div class="container-fluid p-0">
  <div class="heading-container">
    <h1 class="heading-text text-white fw-bold">Do You Want To Advertise With Us?</h1>
    <button class="btn " data-bs-toggle="modal" data-bs-target="#detailsModal">View Details</button>
    <img src="assets/images/Vectorblob.svg" alt="Design Blob" class="design-blob">
  </div>
  <div class="container-fluid mt-4 ">
    <div class="row row-cols-2 row-cols-sm-2 row-cols-xs-2 row-cols-md-2 row-cols-lg-4 g-4">
      <div class="col">
         <!-- B011 FE BY sulaxmi(from) -->
        <div class="card h-100">
          <img src="assets/images/ads2.png" class="card-img-top" alt="Card Image 1">
        </div>
      </div>
      <div class="col">
        <div class="card h-100">
          <img src="assets/images/ads2.png" class="card-img-top" alt="Card Image 2">
        </div>
      </div>
      <div class="col">
        <div class="card h-100">
          <img src="assets/images/ads2.png" class="card-img-top" alt="Card Image 3">
        </div>
      </div>
      <div class="col">
        <div class="card h-100">
          <img src="assets/images/ads2.png" class="card-img-top" alt="Card Image 4">
        </div>
        <!-- to -->
      </div>
    </div>
  </div>
  <div class="container-fluid mt-4">
    <div class="row large">
      <div class="col-lg-7 ">
        <div class="card h-100">
          <img src="assets/images/ads5.jpg" class="card-img-top" alt="Large Card Image">
        </div>
      </div>
      <div class="col-lg-5 small-img">
        <div class="row row-cols-3 g-3 ">
          <div class="col">
            <div class="card h-100">
              <img src="assets/images/ads6.png" class="card-img-top" alt="Small Card Image 1">
            </div>
          </div>
          <div class="col">
            <div class="card h-100">
              <img src="assets/images/ads6.png" class="card-img-top" alt="Small Card Image 2">
            </div>
          </div>
          <div class="col">
            <div class="card h-100">
              <img src="assets/images/ads6.png" class="card-img-top" alt="Small Card Image 3">
            </div>
          </div>
          <div class="col">
            <div class="card h-100">
              <img src="assets/images/ads6.png" class="card-img-top" alt="Small Card Image 4">
            </div>
          </div>
          <div class="col">
            <div class="card h-100">
              <img src="assets/images/ads6.png" class="card-img-top" alt="Small Card Image 5">
            </div>
          </div>
          <div class="col">
            <div class="card h-100">
              <img src="assets/images/ads6.png" class="card-img-top" alt="Small Card Image 6">
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>   
  <div class="container-fluid mt-4">
    <div class="row row-cols-2 row-cols-sm-2 row-cols-xs-2 row-cols-md-2 row-cols-lg-6 g-4 small-cards">
      <div class="col">
        <div class="card h-100">
          <img src="assets/images/ads7.png" class="card-img-top" alt="Small Card Image 7">
        </div>
      </div>
      <div class="col">
        <div class="card h-100">
          <img src="assets/images/ads8.jpg" class="card-img-top" alt="Small Card Image 8">
        </div>
      </div>
      <div class="col">
        <div class="card h-100">
          <img src="assets/images/ads7.png" class="card-img-top" alt="Small Card Image 9">
        </div>
      </div>
      <div class="col">
        <div class="card h-100">
          <img src="assets/images/ads8.jpg" class="card-img-top" alt="Small Card Image 10">
        </div>
      </div>
      <div class="col">
        <div class="card h-100">
          <img src="assets/images/ads7.png" class="card-img-top" alt="Small Card Image 11">
        </div>
      </div>
      <div class="col">
        <div class="card h-100">
          <img src="assets/images/ads8.jpg" class="card-img-top" alt="Small Card Image 12">
        </div>
      </div>  
    </div>
    <div class="row mt-4">
      <div class="col">
          <div class="card card-full-width">
              <img src="assets/images/ads9.jpg" class="card-img-top" alt="Full Width Card Image">
          </div>
      </div>
    </div> 
    <div class="row row-cols-md-2 mt-4 gap">
      <div class="col-md-6">
        <div class="card card-small-height ">
            <img src="assets/images/ads10.jpg" class="card-img-top" alt="Image 1">
        </div>
      </div>
      <div class="col-md-6">
        <div class="card card-small-height">
            <img src="assets/images/ads11.jpg" class="card-img-top" alt="Image 2">
        </div>
      </div>
    </div>
  </div>
   

  <!-- Modal --> 
<div class="modal fade" id="detailsModal" tabindex="-1" aria-labelledby="detailsModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="detailsModalLabel" class="bold-text">Advertisement Details</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <table class="table">
            <thead>
              <tr>
                <td class="bold-text">Advertisement Types</td>
                <td class="bold-text">Price</td>
              </tr>
            </thead>
            <tbody >
              <tr>
                <td>Banner: 468 x 60</td>
                <td>Rs 25500/page/yr</td>
              </tr>
              <tr>
                <td>Leaderboard: 728 x 90</td>
                <td>Rs 15500/page/yr</td>
              </tr>
              <tr>
                <td>Half Page: 300 x 600</td>
                <td>Rs 10500/page/yr</td>
              </tr>
              <tr>
                <td>Large Rectangle: 336 x 280</td>
                <td>Rs 5500/page/yr</td>
              </tr>
              <tr>
                <td>Medium Rectangle: 300 x 250</td>
                <td>Rs 4500/page/yr</td>
              </tr>
              <tr>
                <td>Square Pop-Up: 250 x 250</td>
                <td>Rs 2500/page/yr</td>
              </tr>
              <tr>
                <td>Vertical Banner: 120 x 240</td>
                <td>Rs 1500/page/yr</td>
              </tr>
              <tr>
                <td>Wide Skyscraper: 160X600</td>
                <td>Rs 500/page/yr</td>
              </tr>
            </tbody>
          </table>
          <p class="contact-text">
            <span class="bold-text">Contact Us</span><br>
            <span class="bold-text">Email:</span> Udupidarshan@gmail.com<br>
            <span class="bold-text">Phone number:</span> 8888881818818, 1234567890
        </p>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn1" data-bs-dismiss="modal">Exit</button>
        </div>
      </div>
    </div>
  </div> 
</div>