.icon {
    
    color: #FF6000;
    
}

.nav-link {
    color: #FF6000;
    font-weight: bold;
    
}

.container-fluid {
    background-color: #222831;


}

.navbar-toggler {
    
    margin-left: 10px;
    border: none;
}

.btn {

    color: #FF6000;
    border-color: #FF6000;
}

.btn-exit {
    margin: 1rem;

}

.btn-submit {
    background-color: #FF6000;
    color: #fffbfb;

}

.error-message {
    color: #e3350a;
}

.has-error .form-control {
    border: 0.1rem solid rgb(224, 11, 11);

}

.modal-footer {
    border: none;
}

.required-field {
    color: #e3350a;
    font-weight: bold;
}

.form-label {
    font-weight: bold;
}
.photo-item {
    display: flex;
    align-items: center;
    margin: 5px 0;
  }

  .photo-name-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 5px;
    border: 1px solid #ddd;
    border-radius: 4px;
    background-color: #f9f9f9;
  }

  .photo-name-container p {
    margin: 0;
    padding: 0;
    cursor: pointer;
    flex-grow: 1;
  }

  .delete-icon {
    margin-left: 10px;
    // color: #0d0d0d;
    font-size: 16px;
    font-weight: bold;
}
    
  .delete-icon:hover {
    color: #cc0000;
  }

  .uploaded-photos {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }
  .custom-file-upload {
    border-radius:1rem;
    font-size: 1.1rem; /* Increase font size */
    text-align: center; /* Center text horizontally */
    padding: 0.5rem 10%;

  }
  .btn1{
    color: #222831;
  }
  .custom-navbar-height{
    height: 4rem;
  }
  .brand-margin{
    margin-left: 1.5rem;
    color: #FF6000;
    margin-right: 2rem;
  }
  .position-relative .input-group {
    position: relative;
  }
  
  .search-icon {
    background-color: transparent;
    border: none;
    z-index: 1;
  padding: 0rem;
  position:absolute;
   left: 0.75rem;// Adjust to align with placeholder text
  top: 50%;
  pointer-events: none;
  transform: translateY(-50%);  
  }
  .navbar-brand {
    margin-right: 1rem; /* 1rem gap between title and search button */
  }
  
  
.input-group{
  display: block;
}

.search-input {
  padding-left: 2rem; // Adjust padding to make space for icon
  width: 256px; 
  position:relative; // Ensure relative positioning for absolute child elements
}
.input-group > :not(:first-child):not(.dropdown-menu):not(.valid-tooltip):not(.valid-feedback):not(.invalid-tooltip):not(.invalid-feedback) {
  
  border-radius: 0.7rem;
  
}


.search-form {
  margin-right: 1rem; /* Add margin to the search form */
}


.custom-ml-inherit {
  margin-left: inherit;
}

.navbar-toggler:focus {
  outline: none;
  box-shadow: none;
}
.offcanvas{
  background-color: #222831;
  box-shadow: none;
  max-width: 20rem;
}
.color{
  color: #FFFFFFD9;
}
.offcanvas-body .nav-link:hover {
  background-color: #FFFFFF;
  color:#FF6000;
}
.offcanvas-body .nav-item {
  margin-bottom: 0.8rem; /* Adjust as needed for desired spacing */
}
textarea {
 
  max-width: 100%; /* Ensure textarea doesn't exceed the width of its parent container */
  width: 100%; /* Make the textarea take the full width of its parent container */
  //box-sizing: border-box; /* Include padding and border in the element's total width and height */
}
.modal-lg {
  
  max-width: 60vw; /* Ensure the modal doesn't exceed 90% of the viewport width */
}
