<nav class="navbar navbar-expand-lg sticky-top custom-navbar-height">
  <div class="container-fluid">
    <a class="navbar-brand brand-margin" href="#" routerLink="/home">
      <img src="assets/images/static/horizontal_logo.svg" alt="Udupi Darshan Logo" style="height: 30px;">
    </a>
    <div class="ms-auto" *ngIf="!isSmallScreen" (click)="searchClose()">
      <div class="input-group">
        <span class="input-group-text" id="basic-addon1">
          <i class="bi bi-search icon"></i>
        </span>
        <input #input type="search" id="form1" class="form-control" placeholder="Search" aria-label="Search"
          aria-describedby="basic-addon1" />
      </div>
    </div>


    <div class="input">
      <button class="btn2" *ngIf="isSmallScreen" (click)="openSearch()">
        <i class="bi bi-search"></i>
      </button>

      <button class="navbar-toggler ms-sm-3 d-lg-none" type="button" data-bs-toggle="offcanvas"
        data-bs-target="#offcanvasNavbar" aria-controls="offcanvasNavbar" aria-label="Toggle navigation">
        <i class="bi bi-list icon"></i>
      </button>
    </div>
    <div class="search-overlay" *ngIf="toggleSearch" (click)="searchClose()">
      <div class="search-block" (click)="$event.stopPropagation()">
        <div class="input-group">
          <span class="input-group-text" id="basic-addon1">
            <i class="bi bi-search icon"></i>
          </span>
          <input #input type="search" id="form1" class="form-control" placeholder="Search" aria-label="Search"
            aria-describedby="basic-addon1" />
          <!-- <button class="btn btn-outline-secondary" type="button" (click)="searchClose()">
            <i class="bi bi-x"></i>
          </button> -->
        </div>
      </div>
    </div>

    <div class="collapse navbar-collapse d-none d-lg-flex" id="navbarTogglerDemo02">
      <ul class="navbar-nav me-auto align-items-lg-center">
        <!-- F026 FE BY sulaxmi(from) -->
        <li class="nav-item">
          <a class="nav-link" [ngClass]="{'active-link': isRouteActive('/nature')}" routerLink="/nature"
            aria-current="page">Nature</a>
        </li>
        <li class="nav-item">
          <a class="nav-link ms-lg-3 ms-xl-5" [ngClass]="{'active-link': isRouteActive('/culture')}"
            routerLink="/culture" aria-current="page" href="#">Culture</a>
        </li>
        <li class="nav-item">
          <a class="nav-link ms-lg-3 ms-xl-5" routerLink="/food" [ngClass]="{'active-link': isRouteActive('/food')}"
            aria-current="page" href="#">Food</a>
        </li>
        <li class="nav-item">
          <a class="nav-link ms-lg-3 ms-xl-5" routerLink="/story" routerLinkActive="active-link"
            [routerLinkActiveOptions]="{ exact: false }" aria-current="page" href="#">Stories</a>
        </li>
        <li class="nav-item">
          <a class="nav-link ms-lg-3 ms-xl-5" routerLink="/advertisements" routerLinkActive="active-link"
            [routerLinkActiveOptions]="{ exact: false }" aria-current="page" href="#">Advertisement</a>
        </li>
        <li class="nav-item">
          <button class="btn ms-lg-3 ms-xl-5" data-bs-toggle="modal" data-bs-target="#writeToUsModal">Write to
            us</button>
        </li>
      </ul>
    </div>
  </div>
  <!-- TO -->


  <div class="offcanvas offcanvas-end d-lg-none d-block" tabindex="-1" id="offcanvasNavbar"
    aria-labelledby="offcanvasNavbarLabel">
    <div class="offcanvas-body">
      <ul class="navbar-nav me-auto align-items-lg-center">
        <li class="nav-item">
          <a class="nav-link color" routerLink="/nature" href="#" (click)="closeOffcanvas()">Nature</a>
        </li>
        <li class="nav-item">
          <a class="nav-link color" routerLink="/culture" href="#" (click)="closeOffcanvas()">Culture</a>
        </li>
        <li class="nav-item">
          <a class="nav-link color" routerLink="/food" href="#" (click)="closeOffcanvas()">Food</a>
        </li>
        <li class="nav-item">
          <a class="nav-link color" routerLink="/story" href="#" (click)="closeOffcanvas()">Stories</a>
        </li>
        <li class="nav-item">
          <a class="nav-link color" routerLink="/advertisements" href="#"
            (click)="closeOffcanvas(); removePadding()">Advertisement</a>
        </li>
        <li class="nav-item">
          <button class="btn" data-bs-toggle="modal" data-bs-target="#writeToUsModal">Write to us</button>
        </li>
      </ul>
    </div>
  </div>
</nav>

<!-- Modal -->
<div class="modal fade" id="writeToUsModal" tabindex="-1" aria-labelledby="writeToUsModalLabel" aria-hidden="true"
  #writeToUsModal>
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="writeToUsModalLabel">Tell us your story!</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <form [formGroup]="form" (ngSubmit)="onSubmit()">
          <div class="mb-3"
            [class.has-error]="form.controls['name'].invalid && (form.controls['name'].dirty || form.controls['name'].touched)">
            <label for="name" class="form-label">Name <span class="required-field">*</span></label>
            <div class="col-sm-9 col-lg-7">
              <input type="text" class="form-control" id="name" formControlName="name" placeholder="Enter your name">
              <div
                *ngIf="form.controls['name'].invalid && (form.controls['name'].dirty || form.controls['name'].touched)"
                class="error-message">
                <div *ngIf="form.controls['name'].errors?.['required']">Name is required.</div>
                <div *ngIf="form.controls['name'].errors?.['pattern']">Invalid Name.</div>
              </div>
            </div>
          </div>
          <div class="mb-3"
            [class.has-error]="form.controls['message'].invalid && (form.controls['message'].dirty || form.controls['message'].touched)">
            <label for="message" class="form-label">Your Experience <span class="required-field">*</span></label>
            <div>
              <textarea class="form-control" id="message" formControlName="message" rows="3" required
                [ngModel]="form.controls['message'].value" (ngModelChange)="updateWordCount($event)"
                [disabled]="wordCount >= maxWordCount"></textarea>
              <small id="messageHelp" class="form-text text-muted">{{ wordCount }}/500 words</small>
              <div
                *ngIf="form.controls['message'].invalid && (form.controls['message'].dirty || form.controls['message'].touched)"
                class="error-message">
                <div *ngIf="form.controls['message'].errors?.['required']">Message is required.</div>
              </div>
            </div>
          </div>
          <div class="mb-3"
            [class.has-error]="form.controls['email'].invalid && (form.controls['email'].dirty || form.controls['email'].touched)">
            <label for="email" class="form-label">Email <span class="required-field">*</span></label>
            <div class="col-sm-9 col-lg-7">
              <input type="email" class="form-control" id="email" formControlName="email"
                placeholder="Enter your email">
              <div
                *ngIf="form.controls['email'].invalid && (form.controls['email'].dirty || form.controls['email'].touched)"
                class="error-message">
                <div *ngIf="form.controls['email'].errors?.['required']">Email is required.</div>
                <div *ngIf="form.controls['email'].errors?.['pattern']">Invalid email format.</div>
              </div>
            </div>
          </div>
          <div class="mb-3">
            <label for="photos" class="form-label">Photos</label>
            <div class="upload-container">
              <button type="button" id="photos" class="btn1 custom-file-upload" (click)="fileInput.click()">
                <i class="bi bi-upload"></i> Click to upload
              </button>
              <input type="file" #fileInput accept="image/*" style="display:none" (change)="onFileSelected($event)">
              <div class="uploaded-photos">
                <div *ngFor="let file of files" class="photo-item">
                  <div class="photo-name-container">
                    <p (click)="openFile(file.url)">{{file.name}}</p>
                    <i class="bi bi-trash delete-icon" (click)="removeFile(file)"></i>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-exit" data-bs-dismiss="modal" (click)="resetModal()">Exit</button>
            <div class="d-grid gap-2 d-md-flex justify-content-md-end">
              <button type="submit" class="btn btn-submit" [disabled]="form.invalid">Submit</button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>

<div class="toast-container  p-3">
  <!-- Success Toast -->
  <div #successToast class="toast bg-success text-white align-items-center" role="alert" aria-live="assertive"
    aria-atomic="true">
    <div class="d-flex">
      <div class="toast-body">
        <i class="bi bi-check-circle-fill me-2"></i> Form submitted successfully!
      </div>
      <button type="button" class="btn-close btn-close-white me-2 m-auto" data-bs-dismiss="toast"
        aria-label="Close"></button>
    </div>
  </div>

  <div #errorToast class="toast bg-danger text-white align-items-center" role="alert" aria-live="assertive"
    aria-atomic="true">
    <div class="d-flex">
      <div class="toast-body">
        <i class="bi bi-x-circle-fill me-2"></i> Error submitting form. Please try again.
      </div>
      <button type="button" class="btn-close btn-close-white me-2 m-auto" data-bs-dismiss="toast"
        aria-label="Close"></button>
    </div>
  </div>
</div>