
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
            <div class="container-fluid">
                <a class="navbar-brand" href="#">Udupi Darshan</a>

                <form class="d-flex d-lg-auto ms-auto ms-lg-5">
                    <div class="position-relative ms-lg-5">
                        <div class="input-group ">
                            <span class="input-group-text">
                                <i class="bi bi-search icon "></i>
                            </span>
                            <input class="form-control me-2 d-none d-lg-flex " type="search" placeholder="Search" aria-label="Search">
                        </div>
                        </div>
                    
                   
                </form>
        
                <button class="navbar-toggler ms-sm-5" type="button" data-bs-toggle="collapse" data-bs-target="#navbarTogglerDemo02" aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon icon "></span>
                </button>
                <div class="collapse navbar-collapse justify-content-lg-between" id="navbarTogglerDemo02">
                    <ul class="navbar-nav me-auto mb-2 mb-lg-0 ms-lg-5 ">
                      <li class="nav-item">
                        <a class="nav-link ms-lg-3" aria-current="page" href="#">Nature</a>
                      </li>
                      <li class="nav-item">
                        <a class="nav-link ms-lg-3" href="#">Culture</a>
                      </li>
                      <li class="nav-item">
                        <a class="nav-link ms-lg-3" href="#">Food</a>
                      </li>
                      <li class="nav-item">
                        <a class="nav-link ms-lg-3" href="#">Stories</a>
                      </li>
                      <button class="btn ms-lg-3" (click)="openModal()">Write to us</button>
                      </ul>
                      </div>
                      <div class=" d-none d-lg-block ">
                        <button class="btn  ms-auto" type="button">Advertisement</button>
                    </div>
    </div>
</nav>
