
    .navbar {
        background-color: #222831; /* Set navbar background color */
    }

    .nav-link {
        color:#FF6000; /* Set icon color */
        margin-right: 1.3rem; /* Add margin to separate icons */
    }

    