<div class="container-fluid dashboard-container">
  <!-- Sidebar -->
  <nav class="sidebar">
    <h3 class="logo">Dashboard</h3>
    <ul class="nav-links">
      <li>
        <a routerLink="/home" data-bs-toggle="tooltip" data-bs-placement="right" title="Home">
          <i class="bi bi-house"></i>
        </a>
      </li>
      <li>
        <a routerLink="/submission" data-bs-toggle="tooltip" data-bs-placement="right" title="Submission">
          <i class="bi bi-folder-check"></i>
        </a>
      </li>
      <li>
        <a routerLink="/new-entry" data-bs-toggle="tooltip" data-bs-placement="right" title="New Entry">
          <i class="bi bi-plus-circle"></i>
        </a>
      </li>
      <li>
        <a routerLink="/new-ad" data-bs-toggle="tooltip" data-bs-placement="right" title="New Ad">
          <i class="bi bi-megaphone"></i>
        </a>
      </li>
      <li>
        <a routerLink="/update" data-bs-toggle="tooltip" data-bs-placement="right" title="Update">
          <i class="bi bi-pencil-square"></i>
        </a>
      </li>
    </ul>
  </nav>

  <div class="main-content">
    <div class="top-bar">
      <div class="entry-section-container d-flex flex-column gap-4 mt-2">

        <div class="section-container p-3 border rounded shadow-sm bg-light mb-4">
          <h4 class="mb-3 text-center">Nature</h4>
          <div class="d-flex justify-content-center gap-3 mb-3">
            <button class="btn btn-success" (click)="openModal('nature')" data-bs-toggle="modal"
              data-bs-target="#entryModal">Add</button>
            <button class="btn btn-danger">Delete</button>
          </div>
          <div class="modal fade" id="entryModal" tabindex="-1" aria-labelledby="entryModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered modal-fullscreen-sm-down modal-sm modal-lg">
              <div class="modal-content">
                <div class=" modal-header">
                  <h5 class="modal-title" id="entryModalLabel">New {{ currentCategory | titlecase }} Entry</h5>
                  <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                  <form [formGroup]="entryForm" (ngSubmit)="onSubmit()">
                    <label for="name">Name:</label>
                    <input id="name" formControlName="name" placeholder="e.g. Manipal Lake" required
                      class="form-control"
                      [ngClass]="{ 'error-border': entryForm.get('name')?.invalid && entryForm.get('name')?.touched }" />
                    <div *ngIf="entryForm.get('name')?.invalid && entryForm.get('name')?.touched" class="error">
                      <span *ngIf="entryForm.get('name')?.errors?.['required']">Name is required.</span>
                      <span *ngIf="entryForm.get('name')?.errors?.['pattern']">Only alphabets and spaces are
                        allowed.</span>
                    </div>

                    <label for="label">Label:</label>
                    <input id="label" formControlName="label"
                      placeholder="e.g. Find your perfect escape at Manipal Lake" required class="form-control"
                      [ngClass]="{'error-border':entryForm.get('label')?.invalid && entryForm.get('label')?.touched}" />
                    <div *ngIf="entryForm.get('label')?.invalid && entryForm.get('label')?.touched" class="error">
                      <span *ngIf="entryForm.get('label')?.errors?.['required']">Label is required.</span>
                      <span *ngIf="entryForm.get('label')?.errors?.['pattern']">Only alphabets and spaces are
                        allowed.</span>
                    </div>

                    <label for="location">Location:</label>
                    <input id="location" formControlName="location" placeholder="e.g. Manipal, Udupi" required
                      class="form-control"
                      [ngClass]="{ 'error-border': entryForm.get('location')?.invalid && entryForm.get('location')?.touched }" />

                    <div *ngIf="entryForm.get('location')?.invalid && entryForm.get('location')?.touched" class="error">
                      <span *ngIf="entryForm.get('location')?.errors?.['required']">Location is required.</span>
                      <span *ngIf="entryForm.get('location')?.errors?.['pattern']">Only alphabets, spaces, and commas
                        are
                        allowed.</span>
                    </div>

                    <label for="descr">Description:</label>
                    <textarea id="descr" formControlName="descr" placeholder="e.g. A brief description of the place"
                      required class="form-control"
                      [ngClass]="{ 'error-border': entryForm.get('descr')?.invalid && entryForm.get('descr')?.touched }"></textarea>

                    <div *ngIf="entryForm.get('descr')?.invalid && entryForm.get('descr')?.touched" class="error">
                      <span *ngIf="entryForm.get('descr')?.errors?.['required']">Description is required.</span>
                    </div>

                    <div formArrayName="key_points">
                      <label class="key-label">Key Points:</label>
                      <div *ngFor="let point of keyPoints?.controls; let i = index" class="section-wrapper">
                        <div class="section">
                          <input [formControlName]="i" placeholder="e.g. Stunning views and greenery" required
                            class="form-control"
                            [ngClass]="{ 'error-border': point.invalid && (point.touched || point.dirty) }" />
                          <button class="remove-btn" type="button" (click)="removeKeyPoint(i)">Remove</button>
                        </div>
                        <div class="error" *ngIf="point.invalid && (point.dirty || point.touched)">
                          Key point is required.
                        </div>
                      </div>
                      <button class="btn1 add-btn" type="button" (click)="addKeyPoint()">Add Key Point</button>
                    </div>

                    <div formArrayName="discover">
                      <label>Discover:</label>
                      <div *ngFor="let item of discover?.controls; let i = index" class="section-wrapper">
                        <div class="section">
                          <input [formControlName]="i" placeholder="e.g. Nearby attractions and landmarks" required
                            class="form-control"
                            [ngClass]="{'error-border': item.invalid && (item.dirty || item.touched)}" />
                          <button class="remove-btn" type="button" (click)="removeDiscover(i)">Remove</button>
                        </div>
                        <div class="error" *ngIf="item.invalid && (item.dirty || item.touched)">
                          Discover is required.
                        </div>
                      </div>
                      <button class="btn1 add-btn" type="button" (click)="addDiscover()">Add Discover</button>
                    </div>

                    <div formArrayName="imp_info">
                      <label>Important Information:</label>
                      <div *ngFor="let item of impInfo?.controls; let i = index" class="section-wrapper">
                        <div class="section">
                          <input [formControlName]="i" placeholder="e.g. Best time to visit" required
                            class="form-control"
                            [ngClass]="{'error-border':item.invalid && (item.dirty || item.touched)}" />
                          <button class="remove-btn" type="button" (click)="removeImpInfo(i)">Remove</button>
                        </div>
                        <div class="error" *ngIf="item.invalid && (item.dirty || item.touched)">
                          Important Information is required.
                        </div>
                      </div>
                      <button class="btn1 add-btn" type="button" (click)="addImpInfo()">Add Info</button>
                    </div>

                    <label>How to Visit:</label>
                    <div formGroupName="how_to_visit">
                      <input formControlName="byBike" placeholder="e.g. Distance from bus stop" required
                        class="form-control mb-3" />
                      <div class="error mb-3"
                        *ngIf="entryForm.get('how_to_visit.byBike')?.invalid && entryForm.get('how_to_visit.byBike')?.touched">
                        This field is required.
                      </div>
                      <input formControlName="byCar" placeholder="e.g. Nearest railway station" required
                        class="form-control mb-3" />
                      <div class="error mb-3"
                        *ngIf="entryForm.get('how_to_visit.byCar')?.invalid && entryForm.get('how_to_visit.byCar')?.touched">
                        This field is required.
                      </div>
                      <input formControlName="byPublic" placeholder="e.g. Nearest airport" required
                        class="form-control mb-3" />
                      <div class="error mb-3"
                        *ngIf="entryForm.get('how_to_visit.byPublic')?.invalid && entryForm.get('how_to_visit.byPublic')?.touched">
                        This field is required.
                      </div>
                    </div>

                    <label for="timings">Timings:</label>
                    <input id="timings" formControlName="timings" placeholder="e.g. Open hours and best visiting time"
                      required class="form-control" />
                    <div class="error" *ngIf="entryForm.get('timings')?.invalid && entryForm.get('timings')?.touched">
                      This field is required.
                    </div>

                    <div *ngIf="currentCategory">
                      <label for="category">Category:</label>
                      <select id="category" formControlName="category">
                        <option value="" disabled selected>Select the category</option>
                        <option *ngFor="let cat of subcategoryOptions" [value]="cat">{{ cat }}</option>
                      </select>
                    </div>
                    <div formArrayName="dont_miss_these">
                      <label>Don't Miss These:</label>
                      <div *ngFor="let item of dontMissThese?.controls; let i = index" class="section-wrapper">
                        <div class="section">
                          <input [formControlName]="i" placeholder="e.g. ID and Table Reference" required
                            class="form-control"
                            [ngClass]="{'error-border':item.invalid && (item.dirty || item.touched)}" />
                          <button class="remove-btn" type="button" (click)="removeDontMiss(i)">Remove</button>
                        </div>
                        <div class="error" *ngIf="item.invalid && (item.dirty||item.touched)">
                          This field is required.
                        </div>
                      </div>
                      <button class="btn1 add-btn" type="button" (click)="addDontMiss()">Add Item</button>
                    </div>

                    <label>Images:</label>
                    <div formArrayName="images">
                      <div *ngFor="let img of images?.controls; let i = index" class="section-wrapper">
                        <div class="section">
                          <input type="file" (change)="onFileSelected($event, i)"
                            [ngClass]="{'error-border':img.invalid && (img.dirty||img.touched)}" />
                          <button class="remove-btn" type="button" (click)="removeImage(i)">Remove</button>
                        </div>
                        <div class="error " *ngIf="img.invalid && (img.dirty|| img.touched)">
                          This field is required.
                        </div>
                      </div>

                      <button class="btn1 add-btn" type="button" (click)="addImage()" [disabled]="images.length >= 3">
                        Add Image
                      </button>

                      <div class="error" *ngIf="images.length >= 3">
                        Only 3 images are allowed.
                      </div>
                    </div>

                    <div class="link-wrapper">
                      <label for="link">Link:</label>
                      <div class="link-box">
                        <span class="base-url">{{ selectedBaseUrl }}</span>
                        <input id="link" type="text" formControlName="link" [placeholder]="currentPlaceholder"
                          class="dynamic-input" [disabled]="!selectedBaseUrl" />
                      </div>
                      <small style="color: #888; font-style: italic;">Full link: {{ fullLink }}</small>
                    </div>
                  </form>
                  <div class="submit mt-3">
                    <button type="submit" class="glossy-submit-btn" [disabled]="entryForm.invalid">SUBMIT</button>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="section-container  p-3 border rounded shadow-sm bg-light mb-4">
          <h4 class="mb-3 text-center">Culture</h4>
          <div class="d-flex justify-content-center gap-3 mb-3">
            <button class="btn btn-success" (click)="openModal('culture')" data-bs-toggle="modal"
              data-bs-target="#entryModal">Add</button>
            <button class="btn btn-danger">Delete</button>
          </div>
        </div>

        <div class="section-container  p-3 border rounded shadow-sm bg-light mb-2">
          <h4 class="mb-3 text-center">Food</h4>
          <div class="d-flex justify-content-center gap-3 mb-3">
            <button class="btn btn-success" (click)="openModal('food')" data-bs-toggle="modal"
              data-bs-target="#entryModal">Add</button>
            <button class="btn btn-danger">Delete</button>
          </div>
        </div>
      </div>
    </div>
  </div>