/* Default styles for navbar links */
.navbar-nav .nav-link {
  color: brown; /* Default color */
  
}

/* Additional styles for all nav links */
.nav-link {
  font-size: 2rem; /* Default font size */
  color: brown; /* Default color */
}

/* Define custom font size and hover color for smaller screens */
@media (max-width: 47rem) {
  .nav-link {
      font-size: 1rem; /* Font size for smaller screens */
  }
  
}
