<div class="container-fluid admin-panel">
    <div class="row login-section">
        <div class="col-5 left-panel">
            <div class="row">
              <img src = "assets/images/password.png" alt="Your Image" width="100%">
            </div>
        </div>
        <div class="col-7 right-panel">
            <div class="mt-20"></div>
            <div class="container-fluid" *ngIf="!isOtpSent">
                <form class="row">
                    <div class="row mt-4 text-center">
                        <div class="col-12">
                            <h1> A One Time Password will be sent to your phone once you click on the Button Below</h1>
                        </div>

                    </div>
                    <div class="row mt-4">

                        <div class="col-12 text-center">
                            <h2> The one Time Password will be sent to +91 *******633</h2>
                        </div>

                    </div>
                    <div class="col-12 text-center mt-5">
                        <button class="btn btn-danger otp-button" (click)="sendOtp()">Send OTP</button>
                    </div>
                </form>
            </div>
            <div class="container-fluid" *ngIf="isOtpSent" >
              
                <div class="row mt-4 text-center">
                    <div class="col-12">
                        <h1> One Time Password  is sent to your phone. Please input the OTP below</h1>
                    </div>

                </div>

                <div class="row mt-4 text-center">
                  
                    <div class="col-1"></div>
                    <div class="col-1">
                        <input type="text" class="form-control otp-box">
                    </div>
                    <div class="col-2"></div>
                   
                    <div class="col-1">
                        <input type="text" class="form-control otp-box">
                    </div>
                    <div class="col-2"></div>
                  
                    <div class="col-1">
                        <input type="text" class="form-control otp-box">
                    </div>
                    <div class="col-2"></div>
                   
                    <div class="col-1">
                        <input type="text" class="form-control otp-box">
                    </div>
                    <div class="col-1"></div>
                </div>
                <div class="row mt-5">
                    <button class="btn btn-danger otp-button" type="submit" (click)="validateOtp()">Validate</button>
                </div>
            </div>
        </div>
    </div>
</div>