.mt-20 {
    margin-top: 20rem;
}

.left-panel {
    align-content: center;
    text-align: center;
    border-right:soild 1px black;
}

.login-section {
    height: 100%;
}

.admin-panel {
    height: 100%;
    overflow-y: hidden;
}



.right-panel {
        box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;

}

.otp-button{
    width:-webkit-fill-available;
}

.otp-box{
    min-height: 3vh;
    border:solid 1px;
}
