<form [formGroup]="myForm" (ngSubmit)="onSubmit()" class="form-container">
    <div class="row g-3">
      <div class="col-md-4">
        <label for="firstName" class="form-label">Name</label>
      <input type="text" class="form-control " id="firstName" formControlName="firstName" [class.invalid-input]="myForm.get('firstName')?.invalid && myForm.get('firstName')?.touched">
      <div *ngIf="myForm.get('firstName')?.invalid && myForm.get('firstName')?.touched" class="feedback">
        Please provide a valid name.
      </div>
      </div>
      <div class="col-md-4">
        <label for="username" class="form-label">Username</label>
        <input type="text" class="form-control" id="username" formControlName="username" [class.invalid-input]="myForm.get('username')?.invalid && myForm.get('username')?.touched">
        <div *ngIf="myForm.get('username')?.invalid && myForm.get('username')?.touched" class="feedback">
          Invalid username format.
        </div>
      </div>
      <div class="col-md-4">
        <label for="city" class="form-label">City</label>
        <input type="text" class="form-control" id="city" formControlName="city" [class.invalid-input]="myForm.get('city')?.invalid && myForm.get('city')?.touched">
        <div *ngIf="myForm.get('city')?.invalid && myForm.get('city')?.touched" class="feedback">
          Please provide a valid city.
        </div>
      </div>
      <div class="col-md-3">
        <label for="state" class="form-label">State</label>
        <select class="form-select" id="state" formControlName="state" [class.invalid-input]="myForm.get('state')?.invalid && myForm.get('state')?.touched">
          <option value="" disabled selected>Choose...</option>
          <option value="Karnataka">Karnataka</option>
          <option value="Maharashtra">Maharashtra</option>
          <option value="Gujarat">Gujarat</option>
          <option value="TRIPURA">Tripura</option>
          <option value="UP">UP</option>
          <option value="Kerala">Kerala</option>

          <!-- Add more options as needed -->
        </select>
        <div *ngIf="myForm.get('state')?.invalid && myForm.get('state')?.touched" class="feedback">
          Please select a state.
        </div>
      </div>
      <div class="col-md-3">
        <label for="zip" class="form-label">Zip</label>
        <input type="text" class="form-control" id="zip" formControlName="zip" [class.invalid-input]="myForm.get('zip')?.invalid && myForm.get('zip')?.touched">
        <div *ngIf="myForm.get('zip')?.invalid && myForm.get('zip')?.touched" class="feedback">
          Please provide a valid zip.
        </div>
      </div>
    </div>
    

  
    <div class="col-12 mt-4 hidden-button" *ngIf="myForm.valid">
      <button class="btn btn-primary submit-button" type="submit">Submit form</button>
    </div>
  </form>
  