/* Form container */
.form-container {
  max-width: 40rem; /* Adjust as needed */
  margin: auto;

  margin-bottom: 3rem;
}

/* Form input fields */
.form-control {
  margin-bottom: 1rem;
  
}
//  Form labels
.form-label{
  font-weight: bold;
  font-size: large;
}

/* Invalid feedback */
.invalid-feedback {
  color:red;
  font-size: small;
}

/* Submit button */
.btn-primary {
  width: 50%;
  
}

/* Error message */
.error-message {
  color: red;
  font-size:large;
}
.submit-button {
  margin-bottom: 0.5rem; /* Add margin below the submit button */
}


.feedback{
  color:red;
  font-size:medium;
  margin-bottom: 1rem;
  
   
}
.invalid-input {
  border: 0.1rem solid red; /* Add red border */
}
.hidden-button {
  justify-content: center;
  margin-bottom: 4rem;
  display: flex;
}
