.mt-20 {
    margin-top: 20rem;
}

.left-panel {
    background-color: black;
    color: white;
    align-content: center;
    text-align: center;
    min-height:55.5rem;
}

.login-section {
    min-height: 100%;
}

.admin-panel {
    min-height: 100%;
    overflow-y: hidden;
}

h1 {
    font-family: fantasy;
}

h3 {
    font-family: fantasy;
}

.right-panel {
    background-color:lightgrey;
    min-height:55.5rem
}