<div class="container-fluid d-flex justify-content-center align-items-center ">
    <!-- <div class="admin-panel d-flex justify-content-center align-items-center min-vh-100"> -->
    <!-- <div class="row w-100">
        <div class="col-12 col-sm-8 col-md-6 col-lg-4 mx-auto"> -->
    <div class="row justify-content-center">
        <div class="col-md-6 col-md-12 "> <!-- Makes card responsive -->
            <div class="card">
                <div class="card-body">
                    <h2 class="text-center text">
                        <i class="bi bi-person-lock"></i> Admin Login
                    </h2>

                    <!-- <p class="text-center">Login to manage content</p> -->
                    <form [formGroup]="loginForm" (ngSubmit)="onSubmit()" novalidate>
                        <!-- Username -->
                        <div class="mb ">
                            <!-- <label for="username" class="form-label text">Username (Email)</label> -->
                            <div class="input-group ">
                                <span class="input-group-text"><i class="bi bi-envelope"></i></span>
                                <input type="email" formControlName="username" class="form-control" id="username"
                                    [ngClass]="{
                                    'is-invalid': loginForm.get('username')?.invalid && loginForm.get('username')?.touched
                                }" required placeholder="Enter your email">
                            </div>
                            <div *ngIf="loginForm.get('username')?.invalid && loginForm.get('username')?.touched"
                                class="invalid-feedback">
                                <div *ngIf="loginForm.get('username')?.errors?.['required']">Username is required.
                                </div>
                                <div *ngIf="loginForm.get('username')?.errors?.['email']">Invalid email address.
                                </div>
                            </div>
                            <!-- </div> -->
                        </div>

                        <!-- Password -->
                        <div>
                            <!-- <label for="password" class="form-label text">Password</label> -->
                            <div class="input-group width">
                                <span class="input-group-text"><i class="bi bi-lock"></i></span>
                                <input [type]="changetype ? 'password' : 'text'" formControlName="password"
                                    class="form-control" id="password" [ngClass]="{
                                        'is-invalid': loginForm.get('password')?.invalid && loginForm.get('password')?.touched
                                    }" required placeholder="Enter your password">
                                <button type="button" class="btn btn-outline-secondary"
                                    (click)="togglePasswordVisibility()">
                                    <i [ngClass]="changetype ? 'bi bi-eye-slash' : 'bi bi-eye'"></i>
                                </button>
                            </div>
                            <div *ngIf="loginForm.get('password')?.invalid && loginForm.get('password')?.touched"
                                class="invalid-feedback">
                                Password does not meet the requirements

                                <button *ngIf="loginForm.get('password')?.invalid && loginForm.get('password')?.touched"
                                    #passwordTooltip type="button" class="btn tooltip-icon" data-bs-toggle="tooltip"
                                    data-bs-html="true" data-bs-custom-class="custom-tooltip" data-bs-placement="bottom"
                                    data-bs-title="<em>Password rules:</em><br>
                                           - <b>Secure (8-10 chars)</b>:<br>
                                             • Starts with a letter<br>
                                             • Uppercase, lowercase, digit, special char (-, _, @)<br>
                                           - <b>Passphrase (5-30 chars)</b>:<br>
                                             • Starts with a letter<br>
                                             • 3 words separated by hyphens (-)">
                                    ?
                                </button>
                            </div>
                        </div>

                        <!-- Forgot Password -->
                        <div class="text-end mb-3">
                            <button type="button" class="btn forgot-password " (click)="forgotPassword()">Forgot
                                Password?</button>
                        </div>

                        <!-- Login Button -->
                        <div class="d-grid">
                            <button class="btn" type="submit" [disabled]="!loginForm.valid"
                                [ngClass]="{'btn-dark-orange': loginForm.valid, 'btn-light-orange': !loginForm.valid}">
                                Login
                            </button>
                        </div>

                    </form>
                </div>
            </div>
        </div>
        <!-- </div>
</div> -->
        <!-- </div> -->