.mt-20 {
    margin-top: 20rem;
}

.left-panel {
    align-content: center;
    text-align: center;
    min-height:58.5rem;
    background-color: #293042;
    color:white;
    box-shadow: rgb(244, 245, 247) 0px 8px 24px;
}

.login-section {
    min-height: 100%;
    
}

.admin-panel {
    min-height: 100%;
    overflow-y: hidden;
}

h1 {
    font-family: fantasy;
}

h3 {
    font-family: fantasy;
}

.right-panel {
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    min-height:58.5rem;
    background-color: lightblue;
}

.login-container{
    border: solid 1px white;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    background-color: lightblue;
    border-radius: 8px;
}