<div class="container-fluid admin-panel">
    <div class="row login-section">
        <div class="col-5 left-panel">
            <div class="row">
                <h1>Administrator Login Page</h1>
                
            </div>
            <div class="row">
                <h3>Login here to moderate Content</h3>
            </div>
        </div>
        <div class="col-7 right-panel">
            <div class="mt-20"></div>
            <div class="container-fluid">
                <form class="row">
                    <div class="row mt-4">
                        <div class="col-md-4"></div>
                        <div class="col-md-4">
                            <label for="validationServer01" class="form-label">Username</label>
                            <input type="text" class="form-control " id="validationServer01" value=""
                                required="">
                            <!-- <div class="valid-feedback">

                            </div> -->
                        </div>
                        <div class="col-md-4"></div>
                    </div>
                    <div class="row mt-4">
                        <div class="col-md-4"></div>
                        <div class="col-md-4">
                            <label for="validationServer02" class="form-label">Password</label>
                            <input type="password" class="form-control " id="validationServer02" value=""
                                required="">
                            <!-- <div class="valid-feedback">

                            </div> -->
                        </div>
                        <div class="col-md-4"></div>
                    </div>
                    <div class="col-12 text-center mt-5">
                        <button class="btn btn-light" type="submit">Login</button>
                        <button class="btn btn-light mx-3" click="">Register</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>