.mt-20 {
    margin-top: 20rem;
}

.left-panel {
    background-color: black;
    color: white;
    align-content: center;
    text-align: center;
}

.login-section {
    height: 100%;
}

.admin-panel {
    height: 100%;
    overflow-y: hidden;
}

h1 {
    font-family: fantasy;
}

h3 {
    font-family: fantasy;
}

.right-panel {
    background-color:lightgrey;

}