.row > [class^="col-"] {
    padding: 1rem; 
}
.col-6 img {
    width: 100%;
    height: 11.3rem; 
    border-top-left-radius:  0.5rem;
    border-top-right-radius:  0.5rem;  
    // B014 FE BY SULAXMI FROM
    object-fit: cover;
    //TO
}
.custom-container{
    padding: 0.5rem 1rem 0rem 0.5rem;
}
.container-fluid{
    background-color:  #222831;   
}
.btn{
    border-color: #FF6000;
    color: #FF6000;
  }
  // B013 FE BY sulaxmi(from)
  h1{
    color: #ffffff;
    font-size: clamp(1.3rem, 3vw, 2rem);
    line-height: 2.5rem;
    font-weight: 600;
    font-family: Arial, Helvetica, sans-serif;
    padding: 0.1rem 1rem 0.5rem 0rem;
  }
  // to
  .card-body{
    background-color: #222831;
    color: #ffffff;
    border-bottom-left-radius:  0.5rem;
    border-bottom-right-radius:  0.5rem;
  }
  .card-text{
    font-size: 0.8rem;
    font-weight: 400;
    font-family: Arial, Helvetica, sans-serif;
    line-height: 1.2rem;
  }
  .h-100{
    border-radius: 0.5rem;
    border-color: #F0F0F0;
    border-inline-color: #F0F0F0;
  }
.card-img-top{
    border-top-left-radius: 0.5rem;
    border-top-right-radius: 0.5rem;
    height:11.3rem
}
.custom-large-card {
    height: 15rem; 
}

.custom-large-card .card-img-top {
    height: 11.7rem;
    // B014 FE BY SULAXMI FROM
    object-fit: cover;
    //TO
}

