<div class="container-fluid custom-container">
    <h1 class="text-left">Explore Udupi's Heritage</h1>
    <div class="row g-0">
        <div class="col-6 col-md-3 position-relative">
            <div class="card h-100">
                <img src="assets/images/udupi2.jpg" class="card-img-top" alt="Item 1">
                <div class="card-body">
                    <p class="card-text text-center">Krishna Matt</p>
                </div>
            </div>
        </div>
        <div class="col-6 col-md-3 position-relative">
            <div class="card h-100">
                <img src="assets/images/b3.jpg" class="card-img-top" alt="Item 2">
                <div class="card-body">
                    <p class="card-text text-center">Ananteshwara temple</p>
                </div>
            </div>
        </div>
        <div class="col-6 col-md-3 position-relative">
            <div class="card h-100">
                <img src="assets/images/b4.jpg" class="card-img-top" alt="Item 3">
                <div class="card-body">
                    <p class="card-text text-center">Hasta Heritage</p>
                </div>
            </div>
        </div>
        <div class="col-6 col-md-3 position-relative">
            <div class="card h-100">
                <img src="assets/images/b5.jpg" class="card-img-top1" alt="Item 4">
                <div class="card-body">
                    <p class="card-text text-center">Hasta Shilpa Heritage</p>
                </div>
            </div>
        </div>
        <div class="col-12 mt-3 position-relative">
            <div class="card custom-large-card">
                <img src="assets/images/b6.png" class="card-img-top bordered-img" alt="Item 5">
                <div class="card-body">
                    <p class="card-text text-center">Corporation Bank Heritage Museum</p>
                </div>
            </div>
        </div>
    
        <div class="col-12 text-center mt-2 mb-3">
            <button type="button" class="btn custom-footer-button">View More</button>
        </div>
    </div>
</div>
