<div class="container-fluid custom-container">
    <h1 class="text-left">Explore Udupi's Heritage</h1>
    <div class="row g-0">
        <div *ngFor="let card of cards" [ngClass]="{'col-6 col-md-3 position-relative': !card.largeCard}" >
            <a [routerLink]="['/details/culture', card.id]" class="text-decoration-none">
            
                <div  [ngClass]="{'h-100': !card.largeCard, 'custom-large-card': card.largeCard}" class="card">
                    <img [src]="card.imgSrc" [ngClass]="card.imgClass || 'card-img-top'" [alt]="card.text">
                    <div class="card-body">
                        <p class="card-text text-center">{{ card.text }}</p>
                    </div>
                </div>
            </a>
        </div>
        <div class="col-12 text-center mt-2 mb-3">
            <button type="button" class="btn custom-footer-button" [routerLink]="['/details/culture']">View More</button>
        </div>
    </div>
</div>