.popup-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .popup-content {
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }
  
  .popup-content h2 {
    font-size: 1.5rem;
    margin-bottom: 10px;
  }
  
  .popup-content p {
    margin-bottom: 20px;
  }
  
  .popup-content button {
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    background-color: #d25110;
    color: #fff;
    cursor: pointer;
  }
  
  .popup-content button:hover {
    background-color: #cf6727;
  }
  