<div class="container mt-4">
  <header class="text-center mb-4">
    <h1 >Experience The Joy Of Being With Nature</h1>
  </header>


  
  <section class="mb-4">
    <h2 class="border-bottom pb-2">Best Of Nature</h2>
    <div class="row">
      <div class="col-6 mb-4">
        <div class="card">
          <img src="assets/images/b3.jpg" class="card-img-top" alt="Nature Image">
          <div class="card-body">
            <p class="card-text">Sri Krishna Temple</p>
          </div>
        </div>
      </div>
      <div class="col-6 mb-4">
        <div class="card">
          <img src="assets/images/b3.jpg" class="card-img-top" alt="Nature Image">
          <div class="card-body">
            <p class="card-text">Sri Krishna Temple</p>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section class="mb-4">
    <h2 class="border-bottom pb-2">Activity List</h2>
    <div class="row">
      <div class="col-6 mb-4">
        <div class="card">
          <img src="assets/images/b3.jpg" class="card-img-top" alt="Activity Image">
          <div class="card-body">
            <p class="card-text">Sri Krishna Temple</p>
          </div>
        </div>
      </div>
      <div class="col-6 mb-4">
        <div class="card">
          <img src="assets/images/b3.jpg" class="card-img-top" alt="Activity Image">
          <div class="card-body">
            <p class="card-text">Sri Krishna Temple</p>
          </div>
        </div>
      </div>
    </div>
    <div class="button-container">
    <button type="button" class="btn">View All</button>
  </div>
  </section>

  <section class="mb-4">
    <h2 class="border-bottom pb-2">Wildlife</h2>
    <div class="row">
      <div class="col-6 mb-4">
        <div class="card">
          <img src="assets/images/b3.jpg" class="card-img-top" alt="Wildlife Image">
          <div class="card-body">
            <p class="card-text">Sri Krishna Temple</p>
          </div>
        </div>
      </div>
      <div class="col-6 mb-4">
        <div class="card">
          <img src="assets/images/b3.jpg" class="card-img-top" alt="Wildlife Image">
          <div class="card-body">
            <p class="card-text">Sri Krishna Temple</p>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section class="mb-4">
    <h2 class="border-bottom pb-2">Beach List</h2>
    <div class="row">
      <div class="col-6 mb-4">
        <div class="card">
          <img src="assets/images/b3.jpg" class="card-img-top" alt="Beach Image">
          <div class="card-body">
            <p class="card-text">Sri Krishna Temple</p>
          </div>
        </div>
      </div>
      <div class="col-6 mb-4">
        <div class="card">
          <img src="assets/images/b3.jpg" class="card-img-top" alt="Beach Image">
          <div class="card-body">
            <p class="card-text">Sri Krishna Temple</p>
          </div>
        </div>
      </div>
    </div>
    <div class="button-container">
    <button type="button" class="btn">View All</button>
  </div>
  </section>

  <footer class="text-center mt-4">
    <p>Terms & Conditions</p>
  </footer>
</div>
