
.container {
    width: 100%;
    overflow-x:hidden; 
    white-space: nowrap; 
    scrollbar-width: none;
     overflow-x: auto; 
    overflow-y: hidden; 
//   white-space: nowrap;
    scrollbar-width: none;
    font-weight: bold;
    
    display: flex;
    flex-direction: column;
    // align-items: center;
    background-color: #212529;
    margin-bottom: 20px;
    
  }

  .container-title {
    color: #fff; 
  }
  

  .container::-webkit-scrollbar {
    display: none; 
  }
  
  .cards-wrapper {
    display: inline-block; 
  }
  
  .cards {
    display: flex; 
  }
  
  .card {
    margin-right: 20px;
    border: 2px solid #eb0a0a;
    border-radius: 3px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    flex: 0 0 auto; 
    max-width: 300px; 
  }
  
  .card img {
    width: 100%;
    height: 50%;
    object-fit: cover;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
  }
  
  .card-body {
    display: flex; 
    flex-direction: column; 
    padding: 20px; 
    // overflow: hidden;
    // padding: 20px;
  }
  
  .card-title {
     font-size: 1.25rem;
     font-weight: bolder;
     margin-bottom: 0.75rem;

  }
  
  .card-text {
    font-size: 1rem;
  white-space:normal;  /* Prevent text from wrapping */
  
    
  }
  
  .btn {
    margin-top: auto;
    align-self: flex; 
  }

  @media (max-width: 768px) {
    .card {
    
    width: calc(100% - 20px); /* Show one card per row */
    max-width: calc(100% - 20px);
    margin-bottom: 20px;
    }
}
  
  
  /* Adjust layout for larger devices */
  @media (min-width: 769px) {
    .cards-wrapper {
      overflow-x: auto; /* Enable horizontal scrolling */
      white-space: nowrap; /* Prevent cards from wrapping to the next line */
    }
  
}
@media (max-width: 576px) {
  .image-container {
    padding: 10px; /* Reduce padding for smaller screens */
  }
}