<div class="container-fluid">
  <h1>Create Unforgettable Experiences </h1>
  <div class="card-container">
    <div class="row1 mb-4">
      <div class="col">
      <div class="card h-100">
        <img src="assets/images/b1.jpeg" class="card-img" alt="...">
        <div class="card-body">
          <h5 class="card-title text-white">Kaup Light house</h5>
          <hr>
          <p class="card-text text-color">Experience the depth of the ocean by scubadiving in th.</p>
        </div>
        <div class="card-footer">
          <small class="text-small">View Details <i class="bi bi-arrow-right"></i></small>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card h-100">
        <img src="assets/images/bl2.webp" class="card-img" alt="...">
        <div class="card-body">
          <h5 class="card-title text-white">Malpe Beach</h5>
          <hr>
          <p class="card-text text-color">Experience the depth of the ocean by scubadiving in th.</p>
        </div>
        <div class="card-footer">
          <small class="text-small">View Details <i class="bi bi-arrow-right"></i></small>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card h-100">
        <img src="assets/images/bl4.jpg" class="card-img" alt="...">
        <div class="card-body">
          <h5 class="card-title text-white">Krishna Matta</h5>
          <hr>
          <p class="card-text text-color">Experience the depth of the ocean by scubadiving in th.</p>
        </div>
        <div class="card-footer">
          <small class="text-small">View Details <i class="bi bi-arrow-right"></i></small>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card h-100">
        <img src="assets/images/bl5.jpg" class="card-img" alt="...">
        <div class="card-body">
          <h5 class="card-title text-white">Maravante Beach</h5>
          <hr>
          <p class="card-text text-color">Experience the depth of the ocean by scubadiving in th.</p>
        </div>
        <div class="card-footer">
          <small class="text-small">View Details <i class="bi bi-arrow-right"></i></small>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card h-100">
        <img src="assets/images/c2.jpg" class="card-img" alt="...">
        <div class="card-body">
          <h5 class="card-title text-white">New Beach 3</h5>
          <hr>
          <p class="card-text text-color">Experience the depth of the ocean by scubadiving in th.</p>
        </div>
        <div class="card-footer">
          <small class="text-small">View Details <i class="bi bi-arrow-right"></i></small>
        </div>
      </div>
    </div>
  </div>
</div>
 <!-- F027 FE BY sulaxmi -->

