/* Styles for the heading container */
.heading-container {
    background-color: #222831; /* Light black background */
    height: 25vh; /* Fix the height to 25% of the viewport height */
    width: 100%; /* Full width */
    position: relative; /* Change from absolute to relative */
    left: 0;
    right: 0;
    overflow: hidden; /* Prevent scrolling */
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-bottom: 0;
  }
  
  /* Styles for the heading text */
  .heading-text {
    color: #FFF; /* White text color */
    margin: 0; /* Remove default margin */
    z-index: 1; /* Ensure it is above other elements */
    text-align: center;
  }
  
  /* Styles for the design blob */
  .design-blob {
    position: absolute; 
    top: 40%;
    left: 70%;
    transform: translateX(-50%); 
    width: 220vw; 
    z-index: 0;
  }
  
  .navbar {
    background-color: #222831; 
    padding: 10px;
    text-align: center;
}

.container-fluid{
  background-color: #222831;
}
.card{
  border: 2px solid #FFF;
   
}
.card img {
  width: 100%;
  height: 100%; 
  object-fit: cover;
}
.card-body{
  background-color:#222831;
}
.card-title{
  color:#FFF
}
.activity-heading {  
  text-align:left;
  padding: 20px;
  background-color: #222831;
  color: #FFF;
   font-size: 2rem; 
}
h2{
  margin-bottom: 0rem;
  font-size: xx-large;
}
h1{
  font-size: xx-large;
}
.more-cards {
  display: none;
}

.btn-view-all {
  display: block;
  margin: 20px auto;
  margin-top: 2rem;
}
.mt-4 {
  margin-top: 0rem !important;
  margin-bottom: 0rem !important;

}
.wildlife-heading {
  
text-align:left;
padding: 20px;
background-color: #222831;
color: #FFF; 
 font-size: 2rem; 
}
.btn {

color: #FF6000;
border-color: #FF6000;
}
.gap {
background-color:#222831;
padding-bottom: 20px;
}