<div class="container-fluid">
  <div class="" row>
    <app-navbar></app-navbar>
  </div>
  <div class="row">

    <div class="image-container">
      <img src="assets/images/udupi5.jpg" alt="Your Image">
    </div>
  </div>
  <div class="pt-2"></div>
  <div class="container">
    <app-carousel></app-carousel>
  </div>
  <div class="pt-3"></div>
  
  <div class="row text-align-center-webkit">
    <div class="col-6">
    <div class="card" style="width: 18rem;">
      <img src="assets/images/Udayavani.png" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">UDAYAVANI</h5>
        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
      </div>
      <div class="card-body">
        <a href="#" class="card-link">Explore</a>
      </div>
    </div>
  </div>
  <div class="col-6">

    <div class="card" style="width: 18rem;">
      <img src="assets/images/Ideal_Ice_Cream.jpg" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">IDEAL'S</h5>
        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
      </div>
      <div class="card-body">
        <a href="#" class="card-link">Explore</a>
      </div>
    </div>

  </div>
  </div>
  <div class="pt-3">

  </div>
  <div class="row">
    <!-- As a heading -->
<nav class="navbar bg-dark border-bottom border-body" data-bs-theme="dark">
  <div class="container-fluid">
    <span class="navbar-brand mb-0 h1">Create Unforgettable Experiences</span>
  </div>
</nav>
  </div>
</div>
