// file changes made by rashmi on 10-06-2024
.container-fluid {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.row {
  flex-grow: 1;
}

.carousel-container {
  flex-grow: 1;
}


.image-container img {
  width: 100%;
}

.text-align-center-webkit {
  text-align: -webkit-center;
}

.card {
  border: none;
}