<nav class="navbar">
    <div class="container">
        <div class="row">
            <div class="col">
                <div class="menu-icon">
                    <div class="hamburger-line"></div>
                    <div class="hamburger-line"></div>
                    <div class="hamburger-line"></div>
                </div>
            </div>
            <div class="col">
                <div class="search-icon">
                    <!-- Add your magnifying glass icon here -->
                </div>
            </div>
        </div>
    </div>
</nav>
