<div class="container-fluid p-0">
  <div class="heading-container">
    <!-- B014 FE BY sulaxmi(from) -->
    <h1 class="heading-text text-white fw-bold">Experience The Joy of Being With Food</h1>
    <img src="assets/images/Vectorblob.svg" alt="Design Blob" class="design-blob">
  </div>
  <div class="navbar">
    <h2 class="text-white fw-bold">Best Of Food</h2>
  </div>

  <div class="container-fluid mt-4">
    <div class="row row-cols-2 row-cols-sm-2 row-cols-xs-2 row-cols-md-2 row-cols-lg-4 g-4">
      <div class="col" *ngFor="let card of visibleBestOfFoodCards" (click)="goToDetails(card.id)">
        <div class="card h-100">
          <img [src]="card.images[0]" class="card-img-top" [alt]="card.name">
          <div class="card-body">
            <h5 class="card-title">{{ card.name }}</h5>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="activity-heading mt-4">
    <h2 class="text-white fw-bold">Hotels</h2>
  </div>
  <div class="container-fluid mt-4">
    <div class="row row-cols-2 row-cols-sm-2 row-cols-md-2 row-cols-lg-4 g-4">
      <div class="col" *ngFor="let card of visibleHotelsCards" (click)="goToDetails(card.id)">
        <div class="card h-100">
          <img [src]="card.images[0]" class="card-img-top" [alt]="card.name">
          <div class="card-body">
            <h5 class="card-title">{{ card.name }}</h5>
          </div>
        </div>
      </div>
    </div>
    <div class="text-center mt-3">
      <button class="btn btn-view-all mt-4" (click)="toggleViewAllHotels()">
        {{ viewAllHotels ? 'View Less' : 'View All' }}
      </button>
    </div>
  </div>

  <div class="activity-heading mt-4">
    <h2 class="text-white fw-bold">Restaurants</h2>
  </div>
  <div class="container-fluid mt-4">
    <div class="row row-cols-2 row-cols-sm-2 row-cols-md-2 row-cols-lg-4 g-4">
      <div class="col" *ngFor="let card of visibleRestaurantsCards" (click)="goToDetails(card.id)">
        <div class="card h-100">
          <img [src]="card.images[0]" class="card-img-top" [alt]="card.name">
          <div class="card-body">
            <h5 class="card-title">{{ card.name }}</h5>
          </div>
        </div>
      </div>
    </div>
    <div class="text-center mt-3">
      <button class="btn btn-view-all" (click)="toggleViewAllRestaurants()">
        {{ viewAllRestaurants ? 'View Less' : 'View All' }}
      </button>
    </div>
  </div>

  <div class="activity-heading mt-4">
    <h2 class="text-white fw-bold">Snack Time</h2>
  </div>
  <div class="container-fluid mt-4">
    <div class="row row-cols-2 row-cols-sm-2 row-cols-md-2 row-cols-lg-4 g-4">
      <div class="col" *ngFor="let card of visibleTeaSnacksCards" (click)="goToDetails(card.id)">
        <div class="card h-100">
          <img [src]="card.images[0]" class="card-img-top" [alt]="card.name">
          <div class="card-body">
            <h5 class="card-title">{{ card.name }}</h5>
          </div>
        </div>
      </div>
    </div>
    <div class="text-center mt-3 gap">
      <button class="btn btn-view-all mt-4" (click)="toggleViewAllTeaSnacks()">
        {{ viewAllTeaSnacks ? 'View Less' : 'View All' }}
      </button>
    </div>
  </div>
</div>