<div class="container-fluid p-0">
  <div class="heading-container">
    <h1 class="heading-text text-white fw-bold">Experience the joy of being with nature</h1>
    <img src="assets/images/Vectorblob.svg" alt="Design Blob" class="design-blob">
  </div>
  <div class="navbar">
    <h1 class="text-white fw-bold">Best Of Nature</h1>
  </div>
<div class="container-fluid mt-4">
    <div class="row row-cols-2 row-cols-sm-2 row-cols-xs-2 row-cols-md-2 row-cols-lg-4 g-4">
      <div class="col" *ngFor="let card of visibleNatureCards" (click)="goToDetails(card.id)">
        <div class="card h-100">
          <img [src]="card.thumbnail" class="card-img-top" [alt]="card.title">
          <div class="card-body">
            <h5 class="card-title">{{ card.title }}</h5>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="activity-heading mt-4">
    <h2 class="text-white fw-bold">Activity List</h2>
  </div>
  <div class="container-fluid mt-4">
    <div class="row row-cols-2 row-cols-sm-2 row-cols-md-2 row-cols-lg-4 g-4">
      <div class="col" *ngFor="let card of visibleActivityCards" (click)="goToDetails(card.id)">
        <div class="card h-100">
          <img [src]="card.thumbnail" class="card-img-top" [alt]="card.title">
          <div class="card-body">
            <h5 class="card-title">{{ card.title }}</h5>
          </div>
        </div>
      </div>
    </div>
    <div class="text-center mt-3">
      <button class="btn btn-view-all mt-4" (click)="toggleViewActivity()">
        {{ viewAllActivity ? 'View Less' : 'View All' }}
      </button>
    </div>
  </div>
  <div class="activity-heading mt-4">
    <h2 class="text-white fw-bold">Wildlife</h2>
  </div>
<div class="container-fluid mt-4">
    <div class="row row-cols-2 row-cols-sm-2 row-cols-md-2 row-cols-lg-4 g-4">
      <div class="col" *ngFor="let card of visibleWildlifeCards" (click)="goToDetails(card.id)">
        <div class="card h-100">
          <img [src]="card.thumbnail" class="card-img-top" [alt]="card.title">
          <div class="card-body">
            <h5 class="card-title">{{ card.title }}</h5>
          </div>
        </div>
      </div>
    </div>
    <div class="text-center mt-3">
      <button class="btn btn-view-all mt-4" (click)="toggleViewAllWildlife()">
        {{ viewAllWildlife ? 'View Less' : 'View All' }}
      </button>
    </div>
  </div>
<div class="activity-heading mt-4">
    <h2 class="text-white fw-bold">Beaches</h2>
  </div>
  <div class="container-fluid mt-4">
    <div class="row row-cols-2 row-cols-sm-2 row-cols-md-2 row-cols-lg-4 g-4">
      <div class="col" *ngFor="let card of visibleBeachCards" (click)="goToDetails(card.id)">
        <div class="card h-100">
          <img [src]="card.thumbnail" class="card-img-top" [alt]="card.title">
          <div class="card-body">
            <h5 class="card-title">{{ card.title }}</h5>
          </div>
        </div>
      </div>
    </div>
    <div class="text-center mt-3  gap">
      <button class="btn btn-view-all mt-4" (click)="toggleViewAllBeaches()">
        {{ viewAllBeaches ? 'View Less' : 'View All' }}
      </button>
    </div>
  </div>