.heading-placeholder {
    background-color: black;
    color: white;
    padding: 2rem; /* Adjust padding as needed */
    text-align: center;
    font-size: 4rem; /* Adjust font size as needed */
    font-family:Georgia, 'Times New Roman', Times, serif;
}
