.search-icon {
    background-color: transparent;
    border: none;
    z-index: 1;
    top: 50%;
    padding: 0rem;
    position: absolute;
    left: 0.75rem;
    pointer-events: none;
    transform: translateY(-50%);
    color: #FF6000;
}

.btn2 {
    background-color: #222831;
    border: none;
}

.search-input {
    padding-left: 2rem;
    width: 256px;
    position: relative;
}

.search-form {
    margin-right: 1rem;
}

.search-block.active {
    display: flex;
    align-items: center;
    justify-content: center;
}

.search-container {
    display: flex;
    align-items: center;
    width: 100%;
    max-width: 90%;
    margin: 2rem;
}

.search-control {
    flex: 1;
    font-size: 1rem;
    border: 0;
    outline: none;
    padding-left: 10px;
}

.input-group-text {
    background-color: #fff;
    border-bottom-left-radius: 0.7rem;
    border-top-left-radius: 0.7rem;
}

.input-group[_ngcontent-bgm-c43]>[_ngcontent-bgm-c43]:not(:first-child):not(.dropdown-menu):not(.valid-tooltip):not(.valid-feedback):not(.invalid-tooltip):not(.invalid-feedback) {
    margin-left: -0.3rem;
    border-radius: 0.6rem;
}

.input-group> :not(:first-child):not(.dropdown-menu):not(.valid-tooltip):not(.valid-feedback):not(.invalid-tooltip):not(.invalid-feedback) {
    margin-left: calc(var(--bs-border-width)* -1);
    border-top-left-radius: 0.5rem;
    border-bottom-left-radius: 0.5rem;
}

.search-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 999;
}

.search-block {
    display: block;
    width: 100%;
    padding: 10px;
    background-color: #222831;
    position: absolute;
    top: 60px;
    left: 0;
    z-index: 1000;
}

.icon {
    color: #FF6000;
}

.search-container {
    position: relative;
}

.input-group {
    width: 100%;
}

.search-dropdown {
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    background-color: #fff;
    border-radius: 0.5rem;
    max-height: 17rem;
    overflow-y: auto;
    animation: fadeIn 0.3s ease-in-out;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    scrollbar-width: none;
    -ms-overflow-style: none;
}

.search-dropdown::-webkit-scrollbar {
    display: none;
}

@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(-5px);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}

input#form1 {
    border-bottom-left-radius: 0rem;
    border-top-left-radius: 0rem;
    border-bottom-right-radius: 0.5rem;
    border-top-right-radius: 0.5rem;
}

.drop {
    border-radius: 0.7rem;
}

.dropdown-item {
    padding: 10px;
    border-bottom: 1px solid #f1f1f1;
    text-decoration: none;
    color: #333;
    cursor: pointer;
}

.dropdown-item:last-child {
    border-bottom: none;
}

.dropdown-item:hover {
    background-color: #f8f9fa;
}

.dropdown-item h6 {
    margin: 0;
    font-size: 16px;
    font-weight: 600;
}

.dropdown-item p {
    margin: 0;
    font-size: 14px;
    color: #6c757d;
    transition: background-color 0.2s ease;

    &:hover {
        background-color: #f8f9fa;
    }
}

a {
    text-decoration: none;
    color: #FF6000;
}